@model IEnumerable<Sunflower.ViewModels.ProductVM>
@{
}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active text-white">Shop</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Our Store</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <form class="shop-search-form" asp-controller="Shop" asp-action="Search">
                            <div class="input-group w-100 mx-auto d-flex">
                                <input type="search" name="query" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3" onclick="document.querySelector('.shop-search-form').submit();" style="cursor:pointer;">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                @await Component.InvokeAsync("MenuType")
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="~/img/banner-product.jpg" class="img-fluid w-100 rounded" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img ratio ratio-4x3">
                                            <a asp-controller="Shop" asp-action="Detail" asp-route-ProductId="@item.Mahh">
                                                <img src="~/img/Hinh/HangHoa/@item.Hinh"
                                                     class="w-100 h-100 object-fit-cover rounded-top"
                                                     alt="@item.Tenhh">
                                            </a>
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                             style="top: 10px; left: 10px;">
                                            @item.TenLoai
                                        </div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <a asp-controller="Shop" asp-action="Detail" asp-route-ProductId="@item.Mahh">
                                                <h4>@item.Tenhh</h4>
                                            </a>
                                            <p>@item.MotaNgan</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">@item.Dongia$</p>
                                                <a asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@item.Mahh"
                                                   class="btn border border-secondary rounded-pill px-3 text-primary">
                                                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    @if (ViewBag.PageNumber > 1)
                                    {
                                        <a asp-controller="Shop" asp-action="Index" asp-route-ProductType="@ViewBag.ProductType" asp-route-Page="@(ViewBag.PageNumber - 1)" class="rounded">&laquo;</a>
                                    }

                                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                    {
                                        <a asp-controller="Shop" asp-action="Index" asp-route-ProductType="@ViewBag.ProductType" asp-route-Page="@i" class="@(i == ViewBag.PageNumber ? "active" : "") rounded">@i</a>
                                    }

                                    @if (ViewBag.PageNumber < ViewBag.TotalPages)
                                    {
                                        <a asp-controller="Shop" asp-action="Index" asp-route-ProductType="@ViewBag.ProductType" asp-route-Page="@(ViewBag.PageNumber + 1)" class="rounded">&raquo;</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->